@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    /*Cor*/
    --cor_primaria: #5f5f5f;
    --cor_rodape : #b4b4b4;
    --cor_cabecalho: #E6E6E6;
    /*Fonte*/
    --logo_fonte:"Anta", sans-serif;
    /*Tamanho*/
    --fonte_tamho_logo : 1.5em;

    --fonte_menu: "Space Mono", monospace;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecalho{
    background-color:var(--cor_cabecalho);
          /*width style color*/
    border-bottom: 2px  outset var(--cor_primaria) ;
              /* Eixo x Eixo y esfumaçado cor/opacidade*/  
    box-shadow: 10px 0px 15px rgba(0, 0, 0, .5);
   
    padding: 10px;

    /*Estruturando o layout com Grid*/
    display: grid;
    
    
    grid-template-columns: 1fr 4fr;
    
    gap: 0px/*linha*/ 100px/*Coluna*/;

}

#logo{
    
    display: flex;

    align-items: center;
    justify-content: center;
    
    height: 100px;
}

#logo p{

              /*Fonte  Familia    Tipo 
    font-family:'Anta',sans-serif;*/
    font-family: var(--logo_fonte);
    font-weight: 600;
    font-style: normal;
    font-size: var(--fonte_tamho_logo); /*rem(Raiz) ou em(Pai)*/

    line-height: 30px;
    letter-spacing: 5px;
    word-spacing: 10px;

    text-align: justify;

    text-transform: uppercase;
    text-decoration:none;

                /* Eixo x Eixo y esfumaçado cor/opacidade
    text-shadow: 5px 5px 10px rgba(0, 0, 0,.5);
    
            /*R G B
    color: #000000;

    color: rgba(0,0,0,.5);*/

    color: var(--cor_primaria);
    
}

#menu_principal{
    
    
    padding: 0px 10px;

    font-family: var(--fonte_menu);
    font-weight: 400;
    font-style: normal;

    display: grid;

    grid-template-columns: 1fr;
                /*Alig  Justify*/
    place-items: center end;
}

#itens_menu ul{

    padding: 10px;
    list-style: none;


    display: flex;

    gap: 20px;
    flex-wrap: wrap;

    justify-content: end;

}
#itens_menu li{
  
    padding: 10px;

}

#itens_menu li:hover{
    background-color: var(--cor_primaria);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    color: white;
    border-radius: 15px;
    cursor:pointer ;
}
#quem_sou.moblie{
    background-color: aliceblue;
    
    background-image: url('../assets/img/hexagon-pattern_640.jpg');
    background-size: cover;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    

    padding: 10px;
    
    display: none;

    grid-template-columns: 1fr;
    gap:0px 10px;

    justify-items: center;
    align-items: center;
}


#quem_sou.desktop{
    

    background-color: aliceblue;
    
    background-image: url('../assets/img/hexagon-pattern_640.jpg');
    background-size: cover;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    

    padding: 10px;
    
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap:0px 10px;

    justify-items: center;
    align-items: center;
}


#informacoes_texto{
   /* background-color:rgb(160, 221, 136);*/
    padding: 10px;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 1fr;
    
    gap: 10px 0px;
}
#titulo_info{
    font-family: var(--fonte_menu);
    color:rgb(92, 92, 92); 
    font-size: 2rem;

    place-items: center center;
    justify-items: center;
}
#botao_info{
    display: grid;
    justify-items: center;
    align-items: center;
}
#botao_info button{

    margin-top: 10px;
    padding: 10px;
    width: 100px;
    height: 50px;
    border: none;
    background-color:var(--cor_primaria);
    font-size: 1rem;
    font-weight: bold;
    color: white;

    border-radius: 15px;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);

        

}

#botao_info button:hover{
    background-color: var(--cor_cabecalho);
    color: black;
    cursor: pointer;
}

#redes_sociais_info{
    
    display: grid;
  
    grid-template-columns: 1fr;
    
    place-items: center center;
}
#redes_sociais{
    display: grid;
    gap: 10px; 
    grid-template-columns: 50px 50px 50px;
    
}
.redes_sociais{
    margin-top: 10px;
    height: 50px;
    width: 50px;
}
.redes_sociais:hover{
    cursor: pointer;
    opacity: 0.5;
}

#foto{
    
    display: grid;
    justify-content: center;
}

#foto figure img{
    border-radius: 20px;
    width: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}

#mais_sobre{
    
    height: 500px;

    display: grid;

    grid-template-columns: 1fr;

    grid-template-rows: 1fr 4fr;
}

#mais_sobre_conteudo{
    grid-template-columns: 1fr 2fr;
}
#foto_mais_sobre,#mais_sobre_texto{
    padding: 10px;
    
    align-content: center;
}
#abilidades{
    
    height: 500px;

    display: grid;

    grid-template-columns: 1fr;

    grid-template-rows: 1fr 4fr;
}

#abilidades_cabecalho,#cabecalho_mais_sobre,#trabalhos_cabecalho{
    background-color:var(--cor_cabecalho);
    border-top: 2px solid var(--cor_primaria);
    border-bottom: 2px solid var(--cor_primaria);
    display: grid;

    grid-template-columns: 1fr;
    place-items: end center;
}
#trabalhos_cabecalho{
    height: 100px;
}

.subtitulo h2{
    font-family: var(--logo_fonte);    
    color: var(--cor_primaria);  
    padding: 10px;
    align-content: center;
    justify-content: center;    
}

.conteudo{
    background-color: aliceblue;
    
    background-image: url('../assets/img/hexagon-pattern_640.jpg');
    background-size: cover;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    background-attachment: fixed;

    padding: 10px;

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 0px 10px;
}
#abilidades_descricao{
    background-color: aqua;
    padding: 10px;
    display: grid;

    grid-template-rows: 1fr 2fr;
    gap: 10px 0px;
}
.abilidades_conteudo{
    background-color: cadetblue;
}
#abilidades_detalhadas{
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr;

    grid-template-rows: 1fr 1fr 1fr 1fr;

    gap: 10px 0px;
}
.skills{
    background-color: cornflowerblue;
    
}
#abilidades_fotos{
    background-color: rgb(0, 155, 155);
    
}

#trabalhos_conteudo{

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 10px 10px;
    
}
.trabalhos_fotos{
    background-color: blueviolet;
    height: 200px;
    height: 200px;
}

#rodape{
    background-color: var(--cor_rodape);
    border-top: 2px solid var(--cor_primaria);
    height: 200px;
    padding: 10px;
    
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;

    gap: 20px;

    place-items: center center;
}

#titulo_rodape h2{
    color: var(--cor_primaria);
    font-family: var(--logo_fonte);
    font-size: var(--fonte_tamho_logo);
}

#texto_rodape p{
    font-family: var(--fonte_menu);
}

/* Adapataçao para Moblie*/
@media(max-width: 800px){

    #cabecalho{
        grid-template-columns: 1fr;
    }
    #menu_principal{
        place-items: center center;
    }
    #itens_menu ul{
        flex-direction: column;
        align-items: center;
    }

    #quem_sou.desktop{
        display: none;
    }
    #quem_sou.moblie{
        display: grid;

    }


}